<!--
 * @Author: xyw
 * @Date: 2022-05-16 10:58:50
 * @LastEditors: xyw
 * @LastEditTime: 2022-05-16 17:42:50
 * @Description: 
-->
<Panel>
  <div class="box">
    <div class="head sc-flex sc-ai-center sc-jc-between sc-mb-2">
      <div class="t sc-text-white">用户传输装置</div>
      <div class="sc-text-white sc-flex sc-ai-center sc-cursor">
        <span>关闭</span>
        <svg-icon icon-class="close"></svg-icon>
      </div>
    </div>
    <div class="tab">
      <!-- 左侧指示器 -->
      <div class="lt-arrow arrow">
        <i class="el-icon-arrow-left sc-text-white"></i>
      </div>
      <!-- 右侧指示器 -->
      <div class="rt-arrow arrow">
        <i class="el-icon-arrow-right sc-text-white"></i>
      </div>
    </div>
  </div>
</Panel>
