/*
 * @Description: 全局样式处理
 * @Author: lz
 * @Date: 2021-07-21 10:32:54
 * @LastEditTime: 2022-05-11 11:08:41
 * @LastEditors: xyw
 */
@import "./_variable.less";
@import "./common.less";
@common-size: 1px;

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.sc-hidden {
  overflow: hidden;
}

.sc-auto-x {
  overflow-x: auto;
}

.sc-relative {
  position: relative;
}

.sc-absolute {
  position: absolute;
}

.sc-search-input {
  width: 220px!important;
}

.sc-common-warpper {
  width: 1200px;
  margin: 0 auto;
}

.sc-bold {
  font-weight: bold !important;
}

.sc-bold-5 {
  font-weight: 500 !important;
}

.sc-block {
  display: block;
}

.sc-in-block {
  display: inline-block
}

.sc-cursor {
  cursor: pointer;
}

.sc-flex {
  display: flex;
}

.sc-flex-column {
  flex-direction: column;
}

.sc-flex-wrap {
  flex-wrap: wrap;
}

.sc-flex-1 {
  flex: 1;
}

.sc-transition {
  transition: all 0.5s;
}

.sc-fs-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

//对齐两端文本
.sc-text-justify {
  text-align-last: justify
}

//左圆角
.sc-radius-left {
  border-radius: 4px 0px 0px 4px;
}

//右圆角
.sc-radius-right {
  border-radius: 0px 4px 4px 0px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

//颜色
each(@colors, {
    .sc-text-@{key} {
      color: @value  !important;
    }

    .sc-bg-@{key} {
      background-color: @value!important;
    }
  }

);

//字体 fs-xxs 8px fs-sm 12px fs-md 13px
each(@font-sizes, {
    .sc-fs-@{key} {
      font-size: @value * @common-size  !important;
    }
  }

) //text对齐方式

each(@text-types, {
    .sc-text-@{key} {
      text-align: @value;
    }
  }

) //主轴方向 布局

each(@flex-jc, {
    .sc-jc-@{key} {
      display: flex;
      justify-content: @value;
    }
  }

) //侧轴方向 布局

each(@flex-ai , {
    .sc-ai-@{key} {
      display: flex;
      align-items: @value;
    }
  }

) //1px边框 + 颜色

each(@colors , {
    .sc-border-@{key} {
      border:1px solid @value;
    }
  }

) //margin padding

each(@spacing-sizes, {
    .sc-m-@{key} {
      margin: @value*@common-size  !important;
    }

    .sc-mx-@{key} {
      margin: 0 @value*@common-size  !important;
    }

    .sc-my-@{key} {
      margin: @value*@common-size 0 !important;
    }

    .sc-mr-@{key} {
      margin-right: @value*@common-size  !important;
    }

    .sc-ml-@{key} {
      margin-left: @value*@common-size  !important;
    }

    .sc-mt-@{key} {
      margin-top: @value*@common-size  !important;
    }

    .sc-mb-@{key} {
      margin-bottom: @value*@common-size  !important;
    }

    .sc-p-@{key} {
      padding: @value*@common-size  !important;
    }

    .sc-px-@{key} {
      padding: 0 @value*@common-size  !important;
    }

    .sc-py-@{key} {
      padding: @value*@common-size 0 !important;
    }

    .sc-pr-@{key} {
      padding-right: @value*@common-size  !important;
    }

    .sc-pl-@{key} {
      padding-left: @value*@common-size  !important;
    }

    .sc-pt-@{key} {
      padding-top: @value*@common-size  !important;
    }

    .sc-pb-@{key} {
      padding-bottom: @value*@common-size  !important;
    }
  }

)
