<!--
 * @Author: xyw
 * @Date: 2022-05-16 10:58:50
 * @LastEditors: xyw
 * @LastEditTime: 2022-05-23 11:47:55
 * @Description: 
-->
<Panel>
  <div class="box">
    <div class="head sc-flex sc-ai-center sc-jc-between sc-mb-2">
      <div class="t sc-text-white">传感器监测值</div>
      <div class="tabBox sc-flex sc-text-white sc-fs-xxl">
        <div class="tab" :class="{isActive:type == 1}" @click="changeType(1)">
          用电趋势
        </div>
        <div class="tab" :class="{isActive:type == 2}" @click="changeType(2)">
          用电功率
        </div>
        <div class="tab" :class="{isActive:type == 3}" @click="changeType(3)">
          用电能耗
        </div>
      </div>
    </div>
    <div class="contentBox">
      <table-panel>
        <div class="box"></div>
      </table-panel>
    </div>
  </div>
</Panel>
