<!--
 * @Author: xyw
 * @Date: 2022-05-16 10:58:50
 * @LastEditors: xyw
 * @LastEditTime: 2022-05-23 11:07:08
 * @Description: 
-->
<Panel>
  <div class="box">
    <div class="head sc-flex sc-ai-center sc-jc-between sc-mb-2">
      <div class="t sc-text-white">传感器监测值</div>
      <div
        class="sc-text-white sc-flex sc-ai-center sc-cursor"
        @click="$router.push('/')"
      >
        <span>关闭</span>
        <i class="el-icon-close"></i>
      </div>
    </div>
  </div>
</Panel>
