<!--
 * @Author: xyw
 * @Date: 2022-05-16 10:58:50
 * @LastEditors: xyw
 * @LastEditTime: 2022-05-25 18:23:32
 * @Description: 
-->
<Panel>
  <div class="box">
    <div class="head sc-flex sc-ai-center sc-jc-between sc-mb-2">
      <div class="t sc-text-white">传感器监测值</div>
      <div class="tabBox sc-flex sc-text-white sc-fs-xxl">
        <div class="tab" :class="{isActive:type == 1}" @click="changeType(1)">
          用电趋势
        </div>
        <div class="tab" :class="{isActive:type == 2}" @click="changeType(2)">
          用电功率
        </div>
        <div class="tab" :class="{isActive:type == 3}" @click="changeType(3)">
          用电能耗
        </div>
        <div
          class="sc-text-white sc-flex sc-ai-center sc-cursor"
          @click="$router.push('/list')"
        >
          <span>关闭</span>
          <i class="el-icon-close"></i>
        </div>
      </div>
    </div>
    <div class="contentBox sc-text-D0">
      <table-panel>
        <div
          class="box sc-flex"
          v-for="(item,index) in tableData"
          :key="item.label"
        >
          <!-- 左侧部分 -->
          <div class="left sc-mr-4">
            <div class="t sc-fs-xl">{{item.label}}--当前值</div>
            <div class="gridBox">
              <div class="gridItem">
                <div class="headBox sc-flex">
                  <div class="cli sc-mr-1">P</div>
                  <div>
                    <div class="t1 sc-fs-lg sc-text-white">A相有功功率</div>
                    <div class="t2 sc-fs-md">1路通道</div>
                  </div>
                </div>
                <div class="num sc-text-ct">
                  {{item.value.deviceDataPushLog.k1}}
                </div>
                <div class="unit sc-mt-1 sc-text-ct">当前值(KM)</div>
                <div class="line sc-mb-1"></div>
                <div class="desc sc-fs-lg">参考阀值--</div>
              </div>
              <div class="gridItem">
                <div class="headBox sc-flex">
                  <div class="cli sc-mr-1">P</div>
                  <div>
                    <div class="t1 sc-fs-lg sc-text-white">B相有功功率</div>
                    <div class="t2 sc-fs-md">2路通道</div>
                  </div>
                </div>
                <div class="num sc-text-ct">
                  {{item.value.deviceDataPushLog.k2}}
                </div>
                <div class="unit sc-mt-1 sc-text-ct">当前值(KM)</div>
                <div class="line sc-mb-1"></div>
                <div class="desc sc-fs-lg">参考阀值--</div>
              </div>
              <div class="gridItem">
                <div class="headBox sc-flex">
                  <div class="cli sc-mr-1">P</div>
                  <div>
                    <div class="t1 sc-fs-lg sc-text-white">C相有功功率</div>
                    <div class="t2 sc-fs-md">3路通道</div>
                  </div>
                </div>
                <div class="num sc-text-ct">
                  {{item.value.deviceDataPushLog.k3}}
                </div>
                <div class="unit sc-mt-1 sc-text-ct">当前值(KM)</div>
                <div class="line sc-mb-1"></div>
                <div class="desc sc-fs-lg">参考阀值--</div>
              </div>
            </div>
            <div class="sc-mt-2 his" @click="showHis(index + 1)">
              <span class="sc-mr-1">查看历史记录</span>
              <i class="el-icon-arrow-right"></i>
            </div>
          </div>
          <!-- 右侧部分 -->
          <div class="right">
            <div class="t sc-fs-xl">检测值历史数据</div>
            <div class="chart" :ref="'chart' + index"></div>
          </div>
        </div>
      </table-panel>
    </div>
    <!-- 历史记录 -->
    <el-dialog
      title="历史记录"
      :visible.sync="hisFlag"
      :before-close="closeHis"
    >
      <div class="sc-pl-2">
        <el-date-picker
          style="width:1.35rem"
          v-model="dateArr"
          valueFormat="yyyy年MM月DD日"
          @change="changeDate"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        >
        </el-date-picker>
      </div>
      <div class="tableBox sc-p-2">
        <table-panel>
          <el-table :data="hisData" class="w-100">
            <div
              class="sc-flex sc-ai-center sc-jc-center"
              style="height:2rem"
              slot="empty"
            >
              <div class="sc-text-ct">
                <img src="../../assets/images//list/nodata.png" alt="" />
                <div class="w-100">暂无数据</div>
              </div>
            </div>
            <!-- <el-table-column
              type="index"
              align="center"
              width="100"
              label="序号"
            >
            </el-table-column> -->
            <el-table-column prop="dateTime" label="上报时间"></el-table-column>
            <el-table-column
              prop="typeName"
              label="检测值类型"
            ></el-table-column>
            <el-table-column prop="status" label="状态"></el-table-column>
            <el-table-column prop="number" label="数值"></el-table-column>
          </el-table>
        </table-panel>
        <div class="page sc-mt-2 sc-text-rt sc-text-white">
          <el-pagination
            background
            :total="hisTotal"
            :currentPage.sync="queryParams.pageNum"
            @current-change="handleChange"
          >
          </el-pagination>
        </div>
      </div>
    </el-dialog>
  </div>
</Panel>
